<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<li><a href="{% url 'website:cadastra_pessoa' %}">Cadastrar pessoa</a></li>
<li><a href="{% url 'website:lista_pessoas' %}">Listar pessoas</a></li>
<li><a href="">Criar equipa</a></li>
<li><a href="">Adicionar membros</a></li>
<li>Ver equipa</li>
<li>Remover membro</li>

</body>
</html>
