<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de pessoas</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Cargo</th>
            </tr>
        </thead>

    <tbody>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.apelido }}</td>
            <td>{{ pessoa.cargo }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>